<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>SQL Injection Example </title>
</head>

<body>
    <h1 class="text-center"><%=productDetails.Name%></h1>
    <h3 class="text-left">Description: <%=productDetails.Description%></h3>
    <h3 class="text-left">Price: <%=productDetails.Price%></h3>
    <h3 class="text-left">Country of Origin: <%=productDetails.Country%></h3>
    <h3 class="text-left">Brand: <%=productDetails.Brand%></h3>
    <h3 class="text-left">Product condition: <%=productDetails.Condition%></h3>
    </h4>
</body>

</html>

npm start